<ul class="list-group">
	<li class="list-group-item">
		# of chirps: <%= user.chirps.length %>
	</li>
	<%= link_to following_path(username: user.username), class: "list-group-item" do %> # following: <%= user.following.length %> <% end %>
	<% followers = 0
	    User.all.each do |this_user|
	      if this_user.following.include?(user.id)
	        followers += 1
	      end
    end %>
	<%= link_to followers_path(username: user.username), class: "list-group-item" do %>	# of followers: <%= followers %> <% end %>
</ul>