<h1><%= @user.username %>'s Profile & Chirps</h1>

<p><strong><%= @user.name %></strong></p>
<p><strong><%= @user.location %></strong></p>
<p><strong><%= @user.bio %></strong></p>
<%= render 'layouts/show_avatar', :user => current_user %>

<p>
	<% if current_user.following.include? (@user.id) %>
		<%= link_to "Unfollow", unfollow_path(id: @user.id), class: "btn btn-danger" %>
	<% else %>
		<% if current_user.id != @user.id %>
			<%= link_to "Follow", now_following_path(id: @user.id), class: "btn btn-primary" %>
		<% end %>
	<% end %>
</p>

<% @user.chirps.each do |chirp| %>
	<%= render 'layouts/show_chirp', chirp: chirp %>
<% end %>