<!DOCTYPE html>
<html>
  <head>
    <title>Chirpr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= google_webfonts_link_tag 'Fira Sans' %>
    <%= google_webfonts_link_tag 'Lobster' %>
  </head>

<!-- app/views/layouts/application.html.erb -->
<body>
  <% if current_user != nil %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-option-vertical"></span>
          </button>
          <%= link_to icon('fas', 'crow'), root_path, class: "navbar-brand" %>
          <h1>Chirpr</h1>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-pills nav-justified">
            <li><%= link_to "Compose New Chirp", new_chirp_path, class: "btn btn-primary btn-sm" %></li>
            <% if user_signed_in? %>
                <li><div class="center-block" style="padding: 10px; height: 40px;">
                  <div class="pull-left" style="width: 20px; height:20px;">
                  <%= render 'layouts/show_avatar', user: current_user %>
                </div>
                <div class="pull-right">
                  Signed in as: <strong>@<%= current_user.username %></strong>
                </div>
              </div>
              </li>
              <li><%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-default btn-sm" %></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-default btn-sm" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <% end %>
  <div class="container">
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </div>
</body>
</html>
