<!DOCTYPE html>
<html>
  <head>
    <title>Chirpr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= google_webfonts_link_tag 'Fira Sans' %>
    <%= google_webfonts_link_tag 'Lobster' %>
  </head>

<!-- app/views/layouts/application.html.erb -->
<body>
  <% if current_user != nil %>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-option-vertical"></span>
          </button>
          <div class="navbar-brand">
            <span class="brand">
              <%= link_to "Chirpr", root_path %>
            </span>
            <%= link_to icon('fas', 'crow'), root_path %>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-pills">
            <li><%= link_to "Feed", root_path %></li>
            <li><%= link_to "All Users", all_users_path %></li>
            <li><%= link_to "Followers", followers_path(username: current_user.username) %></li>
            <li><%= link_to "Following", following_path(username: current_user.username) %></li>
            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <p class="navbar-text">
                  Signed in as: <strong>@<%= current_user.username %></strong>
                  <span class="small-avatar"><%= render 'layouts/show_avatar', user: current_user %></span>
                  </p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% end %>
  <div class="container col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div class="">
      <p id="notice"><%= notice %></p>
      <%= yield %>
      <% if current_user %>
        <div class="chirp-btn">
          <%= link_to "Chirp Something!", new_chirp_path, class: "btn btn-primary btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
